<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageRestore>
		<!-- Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />
		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>

	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="github" value="https://github.kfh.com/_registry/nuget/kfh/index.json" />
		<add key="telerik" value="https://nuget.telerik.com/v3/index.json" />
	</packageSources>
	
	<packageSourceMapping>
	  <!-- key value for <packageSource> should match key values from <packageSources> element -->
	  <packageSource key="nuget.org">
		<package pattern="*" />
		<package pattern="Telerik.FontIcons" />
		<package pattern="Telerik.SvgIcons" />
		<package pattern="Telerik.Licensing" />
	  </packageSource>
	  <packageSource key="github">
		<package pattern="Kfh.*" />
	  </packageSource>
	  <packageSource key="telerik">
		<package pattern="Telerik.*" />
	  </packageSource>
	</packageSourceMapping>
</configuration>
