<div class="AO-Top--container AO-flex--column">
    <div class="AO-flex--row">
        <TelerikSkeleton Width="80px" Height="80px" ShapeType="@SkeletonShapeType.Circle" Visible="true" class="AO-search--skeletonCircle"></TelerikSkeleton>
        <div class="AO-customerProfile--info">
            <div class="AO-profile--flags">
                <TelerikSkeleton Width="250px" Visible="true" class="AO-skeleton-rectangle"></TelerikSkeleton>
            </div>
            <TelerikSkeleton Width="400px" Height="20px" ShapeType="@SkeletonShapeType.Rectangle" Visible="true" class="AO-skeleton-rectangle AO-profileName--skeleton"></TelerikSkeleton>
            <TelerikSkeleton Width="220px" Visible="true" class="AO-skeleton-rectangle"></TelerikSkeleton>
        </div>
    </div>
</div>

@code {

}
