<li>
    <H5>@Label</H5>
    <H3>@Value</H3>
</li>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Value { get; set; } = string.Empty;

    
}