<li>
    <H5>@Label</H5>
        @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        <H3>@Value</H3>
    }
</li>
 

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}