
@inherits WorkflowComponent


<div class="form-flex">


    @if (!IsAuthorized)
    {
        <AccessDenied />
    }
    else
    {
        <WorkflowTaskDetail TaskDetail="TaskDetail" />

    }

</div>