@using System.Reflection
@using Kfh.Aurora.Common.Components.UI.User
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="@additionalAssemblies">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin></RedirectToLogin>
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {

    private Assembly[] additionalAssemblies;

    protected override void OnInitialized()
    {
        additionalAssemblies = new[] { typeof(AuroraUserProfileSettings).Assembly };
        base.OnInitialized();
    }
}